/* Footer
   ========================================================================== */
footer {
  background: $footer-bg;
  bottom: 0px;
  color: $footer-text-color;
  font-size: $footer-font-size;
  height: 75px;
  position: sticky;
  width: 100%;
}
